node_modules/
.env
.env.local
logs/
screenshots/
allure-results/
allure-report/
playwright-report/
test-results/
.DS_Store
*.log
*.tmp
.idea/
.vscode/
coverage/
dist/
build/
.nyc_output/
.gradle/
.history/
